<div class="manager-profile-editPage" ng-controller="ManagerCareerHistoryController">
    <div class="container">
        <h1>Current Institution and Position</h1>
        <div class="row form_container">
            <div class="col-xs-12 col-lg-4">
                <div class="form-group">
                    <label>Type of Manager:</label>
                    <input type="text" name="manager_type" id="manager_type" ng-model="manager_type" disabled class="form-control">
                </div>
            </div>
            <div class="col-xs-12 col-lg-4">
                <div class="form-group">
                    <label>Sport:</label>
                    <input type="text" name="sport" id="sport" ng-model="sport" class="form-control" disabled>
                </div>
            </div>
            <div class="col-xs-12 col-lg-4">
                <div class="form-group">
                    <label>Management Level:</label>
                    <input type="text" name="management_level" id="management_level" ng-model="management_level" class="form-control" disabled>
                </div>
            </div>
        </div>

        <div class="row form_container">
            <div class="col-xs-12 col-lg-4">
                <div class="form-group">
                    <label>Institution Type:</label>
                    <input type="text" name="institution_type" id="institution_type" ng-model="institution_type" class="form-control">
                </div>
            </div>
            <div class="col-xs-12 col-lg-4">
                <div class="form-group">
                    <label>Institution Name:</label>
                    <input type="text" name="institution_name" id="institution_name" ng-model="institution_name" class="form-control">
                </div>
            </div>
        </div>

        <div class="career-history">
            <h1>Career History</h1>

            <div ng-repeat="careerHistory in managerProfile.careerHistory track by $index | orderBy:careerHistory.year">
                <div class="row">
                    <div class="col-xs-3">
                        <select ng-model="careerHistory.year" class="form-control">
                            <option selected value="">-- Select a Year --</option>
                            <option ng-repeat="year in careerYearRange track by $index" value="{{year}}">{{year}}</option>
                        </select>

                        <a class="remove-year" ng-click="removeCareerHistory(careerHistory)">
                            <span class="glyphicon glyphicon-remove"></span> Remove Year
                        </a>
                    </div>
                    <div class="col-xs-9">
                        <div class="row" ng-repeat="achievement in careerHistory.achievement track by $index">
                            <div class="col-xs-10">
                                <p><input type="text" ng-model="achievement.info" class="form-control"></p>
                            </div>
                            <div class="col-xs-2">
                                <a class="remove-achievement" ng-click="removeAchievement(careerHistory,achievement)">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </a>
                            </div>
                        </div>
                        <p ng-click="addAnotherAchievement(careerHistory)">
                            <a class="add-achievement"><span class="glyphicon glyphicon-plus"></span> Add Achievement</a>
                        </p>
                    </div>
                </div>
                <hr/>
            </div>

            <div class="row">
                <div class="col-xs-12 col-md-4" ng-click="addAnotherYear()"><a class="add-year"><span class="glyphicon glyphicon-plus"></span> Add Year</a></div>
            </div>
        </div>

        <div class="text-center">
            <button class="t-button">Save and Submit</button>
        </div>
    </div>
</div>
