<div class="manager-profile-editPage" ng-controller="ManagerCareerHistoryController">
    <div class="container">
        <form name="manager_career_history">
            <h1>Current Institution and Position</h1>
            <div class="row form_container">
                <div class="col-xs-12 col-lg-4">
                    <div class="form-group">
                        <label>Type of Manager:</label>
                        <input type="text" name="manager_type" id="manager_type" value="{{managerProfile.user_type | uppercase}}" disabled class="form-control">
                    </div>
                </div>
                <div class="col-xs-12 col-lg-4">
                    <div class="form-group">
                        <label>Sport:</label>
                        <input type="text" name="sport" id="sport" value="{{managerProfile.sport_type | uppercase}}" class="form-control" disabled>
                    </div>
                </div>
                <div class="col-xs-12 col-lg-4">
                    <div class="form-group">
                        <label>Management Level:</label>
                        <input type="text" name="management_level" id="management_level" value="{{managerProfile.management_level | uppercase}}" class="form-control" disabled>
                    </div>
                </div>
            </div>

            <div class="row form_container">
                <div class="col-xs-12 col-lg-4">
                    <div class="form-group">
                        <label>Institution Type:</label>
                        <select name="institution_type" id="institution_type" ng-model="managerProfile.institution_type"
                                class="form-control">
                            <option value="" selected>-- Select Institution Type --</option>
                            <option value="club">Club</option>
                            <option value="university">University</option>
                            <option value="high school">High School </option>
                            <option value="agency">Agency</option>
                            <option value="firm">Firm</option>
                            <option value="other">Other</option>
                        </select>

                    </div>
                </div>
                <div class="col-xs-12 col-lg-4">
                    <div class="form-group">
                        <label>Institution Name:</label>
                        <input type="text" name="institution_name" id="institution_name" ng-model="managerProfile.institution_name" class="form-control">
                    </div>
                </div>
            </div>

            <div class="career-history">
                <h1>Career History</h1>

                <div ng-repeat="careerHistory in managerProfile.career_history track by $index | orderBy:careerHistory.career_year">
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="form-group">
                                <select ng-model="careerHistory.career_year" name="year_{{$index}}" class="form-control"
                                        required
                                        ng-options="year for year in careerYearRange track by year">
                                    <option value="">-- Select a Year --</option>
                                    <!--<option ng-repeat="year in careerYearRange track by year.year" value="{{year.year}}">-->
                                        <!--{{year.year}}-->
                                    <!--</option>-->
                                </select>

                                <div class="error_message_container" ng-messages="manager_career_history['year_' + $index].$error"
                                     ng-if="$scope.formSubmitted || manager_career_history['year_' + $index].$touched">
                                    <p class="alert alert-danger" ng-message="required">Please select a year.</p>
                                </div>
                                <div class="error_message_container" ng-show="$scope.formSubmitted && careerHistory.numberOfAchievements() == 0">
                                    <p class="alert alert-danger">For this year, please add an achievement.
                                        Otherwise, if you don't have any achievement to provide this year, then please remove this year.</p>
                                </div>
                            </div>

                            <a class="remove-year" ng-click="removeCareerHistory(careerHistory)">
                                <span class="glyphicon glyphicon-remove"></span> Remove Year
                            </a>
                        </div>
                        <div class="col-xs-9">
                            <div class="row" ng-repeat="achievement in careerHistory.achievements track by $index">
                                <div class="col-xs-10">
                                    <div class="form-group">
                                        <input type="text" ng-model="achievement.achievement" class="form-control"
                                                name="{{$parent.$index}}_achievement_{{$index}}" required>

                                        <div class="error_message_container" ng-messages="manager_career_history[$parent.$index + '_achievement_' + $index].$error"
                                             ng-if="$scope.formSubmitted || manager_career_history[$parent.$index + '_achievement_' + $index].$touched">
                                            <p class="alert alert-danger" ng-message="required">Please provide your achievement for this year.</p>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-xs-2">
                                    <a class="remove-achievement" ng-click="removeAchievement(careerHistory,achievement)">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </a>
                                </div>
                            </div>
                            <p ng-click="addAnotherAchievement(careerHistory)">
                                <a class="add-achievement"><span class="glyphicon glyphicon-plus"></span> Add Achievement</a>
                            </p>
                        </div>
                    </div>
                    <hr/>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-md-4" ng-click="addAnotherYear()"><a class="add-year"><span class="glyphicon glyphicon-plus"></span> Add Year</a></div>
                </div>
            </div>

            <div class="text-center">
                <button class="t-button" ng-class="{disabled : manager_career_history.$invalid}"
                        ng-disabled="manager_career_history.$invalid" ng-click="saveManagerCareerHistory(managerProfile)">Save and Submit</button>
            </div>
        </form>
    </div>
</div>
