$error-color-border : #FF6347;
$validation-message-color : #FF6347;

.error_message_container
{
  margin-bottom: 0px;
  p,span
  {
    color:$validation-message-color;
    font-size:0.9em;
    margin-bottom:5px;
  }
}

/* ----------------------------------------------------*/
/*  This Section is for Manage Part */

.manager_app
{
  input.ng-invalid.ng-touched, select.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched
  {
    border-color:$error-color-border;
  }
}

/* ----------------------------------------------------*/
/*  Manager Part Ends */