
@import "basic";

$background-color-darkGreen : #203f15;
$header-links-color : #FFFFFF;
$header-links-color-onHover : #FFFFFF;

$color-darkGreen : #203f15;

$color-cream : #f6f0d2;

$error-color-border : #FF6347;

$t-button-border-radius : 5px;
$t-button-background-color-hover: #204f1F ;

.t-button
{
  color:#FFFFFF !important;
  background: $background-color-darkGreen;
  @include border-radius($t-button-border-radius);
  border:none;
  @include text-shadow(1px, 1px, 2px, 0px, rgba(0,0,0,0.25));
}
.t-button:hover,.t-button:focus,.t-button:visited
{
  color:#FFFFFF;
  background: $t-button-background-color-hover;
  text-decoration: none;
  @include box-shadow(0px, 0px, 10px, 0px, rgba(0,0,0,0.50))
}
.form-control.t-button
{
  color:#FFFFFF;
}

body
{
  background:$color-cream;
  font-size: 12px;
  line-height:150%;
}

p
{
  position:relative;
}


header
{
  position:fixed;
  background-color:$background-color-darkGreen;
  padding:5px 0px;
  top:0px;
  left:0px;
  width:100%;
  @include box-shadow(2px, 2px, 5px, 0px, rgba(0,0,0,0.75));
  z-index: 1000;
}

header {
  background:$background-color-darkGreen;
  .navbar
  {
    background:none;
    border:none;
    min-height: 20px;
    margin-bottom: 0px;
  }
  .navbar-brand
  {
    padding:0px 15px;
    width:auto;
    margin-top: 0px;
    height: auto;
    img
    {
      width:30px;
      height:auto;
      display: inline;
    }

    .brand
    {
      font-size: 24px;
      font-weight: 700;
      color:#FFFFFF;
      vertical-align: middle;
    }
  }

  ul.navbar-nav
  {
    margin-bottom: 0px;
    li
    {
      position:relative;
    }
    li > a
    {
      color:$header-links-color !important;
      font-size: 12px;
      font-weight: 400;
      padding:5px 15px !important;
    }
    li > a:hover,li > a:visited,li > a:focus
    {
      color:$header-links-color-onHover !important;;
      background:none;
      //text-decoration: underline !important;
    }

    li.has-dropdown > a
    {
      display: inline-block;
      width:80%;
      padding-right:5px;
    }
    li.has-dropdown .dropdown
    {
      display: inline-block;
      width:15%;
    }
    li.has-dropdown .dropdown .caret
    {
      margin-top: 5px;
      width:10px;
      height:10px;
      color:#FFFFFF;
      cursor: pointer;
    }
    li.has-dropdown .dropdown > ul a
    {
      color:$color-darkGreen !important;
    }
    li.has-dropdown .dropdown > ul a:hover
    {
      background:rgba(0,0,0,0.15);
    }

    li.has-dropdown
    {
      position:relative;
      .dropdown-menu
      {
        position:absolute;
        top:100%;
        left:0px;
        display: none;
        min-width:150px;
        width:auto;
        background:$color-cream;
        padding:0px;
        margin: 0px;
        li
        {
          border-bottom:1px solid $color-darkGreen;
          margin: 0px;
          a
          {
            padding:5px 10px;
            color:$color-darkGreen !important;
            font-size: 12px;
          }
          a:hover,a:focus
          {
            background:$color-darkGreen;
            color:$color-cream !important;
          }
        }
        li:first-child
        {
          border-top:1px solid $color-darkGreen;
        }
      }
    }
    li.has-dropdown:hover
    {
      .dropdown-menu
      {
        display:block;
      }
    }
  }
}


footer
{
  margin-top: 50px;
  background:$background-color-darkGreen;
  @include box-shadow(-1px,-1px,5px,0px,rgba(0,0,0,0.75));
  padding:10px;
  font-size: 11px;
  color:#FFFFFF;
  .nav
  {
    li{
      a{
        font-size: 11px;
        color:#FFFFFF !important;
        padding:5px 15px !important;
        display: inline-block;
        img
        {
          display:inline-block;
          margin:0px 5px;
          vertical-align: middle;
        }
      }
      a:hover,a:focus
      {
        background:none !important;
        text-decoration: underline;
      }
    }
  }
}


.body_container
{
  margin-top:40px;
}

.nav-tabs
{
  border-bottom: 1px solid $color-darkGreen;
  li
  {

  }
  li > a
  {
    color:$color-darkGreen !important;
    padding:5px 15px;
    background:none;
    border:1px solid $color-darkGreen;
  }
  li.active > a,li.active > a:focus
  {
    background:$color-darkGreen;
    color:#FFFFFF !important;
    border:1px solid $color-darkGreen;
  }
  li > a:hover,li > a:focus {
    background: $color-darkGreen;
    color: #FFFFFF !important;
    border: 1px solid $color-darkGreen;
  }
  li > a.error_form_validation
  {
    border:2px solid $error-color-border !important;
    border-bottom: none !important;
  }
}

.form_container
{
  padding:0px 15px;
  margin-bottom: 0px;

  .form-control
  {
    width:100%;
    font-size: 12px;
    color:$background-color-darkGreen;
    padding:5px 10px;
    height:auto;
    line-height:150%;
  }
  td > .form-control
  {
    padding:2px 5px;
  }
  textarea.form-control
  {
    height:100px !important;
  }
  .form-control.error_form_validation
  {
    border:1px solid $error-color-border;
  }
}

.edit-profile
{
  margin-top: 50px;
  .left_menu_container
  {
    background:rgba(0,0,0,0.15);
    .nav
    {
      a
      {
        color:#1a1a1a;
        font-size: 12px;
      }
      a.active
      {
        font-weight: 700;
        background:$background-color-darkGreen;
        color:#FFFFFF;
      }
      a:hover,a:focus
      {
        background:$background-color-darkGreen;
        color:#FFFFFF;
      }
    }
  }

}






.talent_profile
{
  a.glyphicon
  {
    color:#FFFFFF;
  }
  p > a.edit.glyphicon
  {
    position:absolute;
    top:5px;
    right:-25px;
  }
  .container
  {
    position:relative;
    @include box-shadow(0px,0px,5px,null,rgba(0,0,0,0.15));
  }
  .container:hover
  {
    .change_cover_pic_container
    {
      display: block;
    }
  }
  .cover_pic
  {
    position:absolute;
    top:0px;
    left:0px;
    height:300px;
    width:100%;
    background:rgba(0,0,0,0.75);
    text-align: center;
    overflow: hidden;
    img
    {
      min-width:100%;
      min-height:100%;
      width:100%;
      height:auto;
    }
  }
  .change_cover_pic_container
  {
    position:absolute;
    top:10px;
    right:15px;
    display:none;
    .glyphicon.glyphicon-camera
    {
      font-size:30px;
      cursor: pointer;
      color:#FFFFFF;
    }
  }

  .profile_image_container
  {
    @include border-radius(150px);
    position:relative;
    border:1px solid $color-darkGreen;
    overflow: hidden;
    width:250px;
    height:250px;
    margin-top: 75px;
    margin-bottom: -25px;
    z-index: 10;
    img
    {
      margin:0px auto;
      min-width: 100%;
      min-height: 100%;
      width:auto;
      height:auto;
      background:rgba(0,0,0,0.75);
    }
    .change_profile_image
    {
      display:none;
      position:absolute;
      bottom:0px;
      left:0px;
      text-align: center;
      padding:5px 15px;
      width:100%;
      background:rgba(0,0,0,0.50);
      a
      {
        color:#fFFFFF;
        font-weight: 700;
      }
    }
  }
  .profile_image_container:hover
  {
    .change_profile_image
    {
      display:block;
    }
  }

  //User Profile Details such as name, sports, preferred position, etc.
  .user_profile_details
  {
    position:relative;
    height:300px;
    max-height: 300px;
    background:rgba(0,0,0,0.25);
    p
    {
      width:90%;
    }
    .user_name,.user_sport,.user_position,.user_management_level,.user_country
    {
      font-weight:700;
      @include text-shadow(0px,0px,10px,null, rgba(0,0,0,0.75));
      font-size:20px;
      margin-bottom:15px;
      color:rgba(255,255,255,1);
    }
    .user_name
    {
      font-size: 24px;
    }
    .user_sport span
    {
      font-style: italic;
    }
    .user_position
    {
      font-weight: 400;
    }
    .user_management_level
    {
      font-weight: 400;
    }
    .user_country
    {
      font-style: italic;
    }

    .user_personal_data_container
    {
      padding-top: 80px;
      color:rgba(255,255,255,1);
      height: 100%;
    }
    .user_personal_data_container:after
    {
      position:absolute;
      right:15px;
      top:-5px;
      height:100%;
      width:2px;
      content:'';
      background:rgba(0,0,0,1);
    }


    .about_container
    {
      padding-top: 80px;
      height: 300px;
      p
      {
        font-size: 16px;
        line-height: 180%;
        font-weight: 400;
        @include text-shadow(0px,0px,10px,null, rgba(0,0,0,0.75));
        color:#FFFFFF;
      }
      p.about
      {
        margin-bottom: 25px;
      }

      .request_recommendations_container
      {
        position:absolute;
        bottom:5px;
        left:15px;
        .t-button
        {
          padding:10px 15px;
        }
      }
    }
  }


  .profile_content_container
  {
    padding:15px 0px;
    margin-top:25px;
    .container
    {
      background:#FFFFFF;
      margin-bottom: 15px;
      .row
      {
        p
        {
          font-size: 14px;
          font-weight: 400;
        }
        a.glyphicon
        {
          color:$color-darkGreen;
        }
        .user_histroy
        {
          list-style: none;
          padding:0px;
          li
          {
            margin-bottom:15px;
            p
            {
              margin-bottom: 5px;
            }
          }
          .title
          {
            font-size: 20px;
            font-weight: 700;
            color:#1a1a1a;
            margin: 0px;
            margin-bottom: 5px;
          }
          .country
          {
            font-size: 16px;
            font-weight: 400;
            color:#222222;
            font-style: italic;
          }
          .position
          {
            margin:0px;
            font-size: 16px;
            font-weight: 400;
          }
          .additional_information
          {
            font-size: 12px;
          }
        }

      }
    }
    h1.headings
    {
      background:$background-color-darkGreen;
      padding:10px 25px;
      padding-right:100px;
      margin:15px 0px;
      color:#FFFFFF;
      font-weight: 700;
      display:inline-block;
      font-size: 22px;
      min-width:250px;
    }
    h1.headings:after
    {
      content:'';
      display: table;
      width:100%;
    }
  }
}


.profile_menu_container
{
  position:relative;
  margin: 0px;
  background:$color-cream;
  .container
  {
    .row
    {
      border:1px solid $color-darkGreen;
      border-bottom:1px solid $color-darkGreen;
      background:#FFFFFF;
      ul
      {
        list-style: none;
        padding:0px;
        li
        {
          a
          {
            color:$color-darkGreen;
            font-size:12px;
            font-weight:700;
            padding:15px 25px;
            border-left:1px solid #e4e4e4;
          }
          a:hover,a:focus
          {
            background:$color-darkGreen;
            color:#FFFFFF;
          }
        }
        li.active
        {
          a
          {
            background:$color-darkGreen;
            color:#FFFFFF;
          }
        }
        li:last-child
        {
          a
          {
            border-right:1px solid #e4e4e4;
          }
        }
      }
    }
  }
}




//For Modals
.modal
{
  .show_loading_image
  {
    position:relative;
    width:100%;
    padding:25px 0px;
    text-align: center;
    img
    {
      height:100px;
      width:auto;
      display: block;
      margin:0px auto;
    }
  }
}
