@media (max-width: 767px) {
  //Footer
  footer
  {
    ul.navbar-nav
    {
      li
      {
        width:50%;
        float:left;
      }
      li.copyright
      {
        float:none;
        width:100%;
        text-align: center;
      }
    }
  }

  //Talent Profile
  .talent_profile
  {
    .profile_image_container
    {
      margin-top: 10%;
      margin-bottom: 0px;
      width: 175px;
      height: 175px;
      margin-left: auto;
      margin-right: auto;
    }

    .user_profile_details
    {
      .user_personal_data_container
      {
        padding-top:25px;
      }

      .user_personal_data_container:after
      {
        top: 15px;
        height:90%;
        display:none;
      }

      .about_container
      {
        padding-top:25px;
        p
        {
          font-size: 14px;
        }

        .request_recommendations_container
        {

        }
      }

      .user_name,.user_sport,.user_position,.user_management_level,.user_country
      {
        font-size:16px;
      }
    }

    .profile_content_container
    {
      h1.headings
      {
        font-size: 16px;
        min-width: 200px;
      }

      //CV page
      .curriculum_vitae_container
      {
        .left_menu_container
        {
          li
          {
            a
            {
              font-size:12px;
              padding:10px 15px;
            }
          }
        }

        .tab-content
        {
          .tab_heading
          {
            font-size: 14px;
          }
          .label
          {
            padding-left:0px;
          }
          .cv_heading
          {
            font-size:14px !important;
          }

          .form_container
          {
            padding:0px;
          }

          ul
          {
            padding-left:5px;
            list-style: none;
            .user_data_container
            {
              p
              {
                font-size:11px;
                strong
                {
                  font-size:12px;
                }
              }
            }
          }
        }
      }

      //Photos
      .image_container
      {
        .images
        {
          height:auto;
          img
          {
            width:100%;
            height:auto;
          }
        }
      }
    }
  }

  .profile_menu_container
  {
    .container
    {
      .row
      {
        ul
        {
          margin:0px auto;
          li
          {
            float:left;
            a
            {
              padding:5px 8px;
              font-size:12px;
            }
          }
        }
      }
    }
  }
}